.contenedor{
	width: 80%;
	margin:0 auto;
}
.botones{
	margin-top: 10px;
	margin-left: 65%;
	padding-left: 10px;
	text-decoration: none;
	color:black;
}
.botones span{
	margin-left: 1em;
}
.botones a:hover{
	text-decoration: none;
	cursor: pointer;
	color: #8bdae9;
	

}
nav ul{
	display: flex;
	justify-content: space-between;
	padding: 0;

}
nav ul li{
	display: flex;
	border: 2px solid black;
	padding: 5px;
	background-color: #8bdae9;
	width: 200px;
	justify-content: center
}
article img{
	max-width: 400px;
	float: right;
	position: absolute;
}
nav ul li a{
	color:black;
	
	
}
nav ul li a:hover{
	text-decoration: none;
	cursor: pointer;
}
article .descripcion{
	display: block;
}
.img{
	max-width: 300px;
}
.header{
	margin-bottom: 30px;
	margin-top: .5em;
	background-color: #8bdae9;
	
}
.header img{
	margin-left: 70px;
	margin-top:10px;
}
.header .titulo{
	display: inline-block;
	font-size: 30px;
}
.header .subtitulo{
	font-size: 15px;
	color:#8ca596;
	position: absolute;
    left: 410px;
    top: 95px;
}
.descripcion{
	width: 50%;
}
.contenido{
	margin-top: 3em;

}
.row{
	margin: 0 auto;
}
.col-md{
	margin: 0 auto;

}
.galeria{
	max-width: 100%;
}

.col-md-4 img{
	display: block;
}
.correo{
	margin-top:70px;
	margin-left: 4em;
}
a{
	color:black;
}

.alto200{
	height: 200px;
}
.alto300{
	height: 300px;
}
.ancho200{
	width: 200px;
}
.ancho350{
	width: 350px;
}

.ancho500{
	width: 500px;
}
.col-md-4{
	padding: 0;
	margin: 0;
}

.absoluto1{
	position: absolute;
    left: -61px;
}

.absoluto2{
	position: absolute;
    top: 411px;
    right: 266px;
}

.mover-abajo{
	margin-top: 270px;
}
.absoluto{
	position: absolute;
}
.tubo{
	
    width: 150px;
    left: -200px;
}
.izquierda{
	left: 0px;

}
.arriba{
	top:630px;

}
.abajo{
	top:180px;

}
.derecha{
	right: 100px;
}
.medio{
	left: 50%;
}
.correo-refri{
	margin-top: 5px;
    margin-left: 7em;
}
.derecha-1{
	right: 0px;
}
.derecha-150{
	right: 150px;
}
.top-88{
	top: 88px;
}

.izquierda-caja{
	left: -38px;
}
.centro-1{
	left: 35%;
}
.top-2{
	top: 580px;
}






